@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "Manrope", sans-serif;
  color: white;
}
@theme {
  --color-Base: #121212;
  --color-Primary: #1e1e1e;
  --color-Secondary: #0a0a0a;
  --color-Text: #ffffff;
}

#myName {
  width: 10ch;
  text-wrap: nowrap;
  overflow: hidden;
  animation: typing 4s steps(10) infinite alternate-reverse;
}

@keyframes typing {
  from {
    width: 0ch;
  }
}

@layer components {
  .navbarDarkBG {
    @apply bg-gradient-to-br from-[#1e112c] via-[#180d2a] to-[#0a0312];
  }
  .buttonAnimationColor {
    @apply w-[150%] h-[200%] rounded-xl left-1/2 -translate-x-1/2 bg-gradient-to-b from-purple-950/60 to-purple-600 block absolute -top-28 group-hover:-top-4 duration-500 z-[-1] border border-white/50 rotate-12;
  }
}
@layer components {
  .navbarLightBG {
    @apply bg-white;
  }
  .buttonClass {
    @apply overflow-hidden border border-purple-800 px-3 lg:px-4 py-2 rounded-lg relative z-20 hover:shadow-lg shadow-fuchsia-800/40 duration-300 flex items-center gap-2 text-white transition-all cursor-pointer;
  }
}

.animation:hover {
  animation: shine 3s once linear;
}

@keyframes shine {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(200%);
  }
}
